<div class="container pit-show">
  <div class="row">
    

   <div class="col-md-8 pit-starter-info">
     <div class="well"> 
              <h3 class = "pit-starter"> Pit Starter - Mark Hustad </h3>
                <ul class = "pit-creator-list">
                  <li>Ranking</li>
                  <li>Email</li>
                  <li>Pits Started</li>
                  <li>Convincing arguments (14)</li>
                </ul>
  </div>
     <br>
        </div>
        <div class="col-md-4 pit-info">
          <div class="panel panel-default">
              <div class = "panel-heading">
                <h3>Pit Statistics</h3>
            </div>
            <div class = "panel-body">
              <ul class = "pit-info-list">
                <li>Pit Views</li>
                <li>Pit Ranking</li>
                <li>Pit Category - Book - Philosophy</li>
                <li>Convincing arguments made (1)</li>
                <li>Logical Fallacies (3)</li>
              </ul>
            </div>
          </div>
         </div>

  
  
  <div class="row">
      <div class="col-md-8">
        
<div class="well">
    <h3 class="pit-title"><%= @pit.topic %></h2>
        
         <p><%= @pit.summary %></p>

    <h3>Discussion</h3>
    
    <h3 class = "pit-comment">Replies to this summary:</h3>
        <p>I fucking hate this book, seriously why did you post this?</p>
    </div>
  </div>
    
    <div class="col-md-4">
      <div class = "panel panel-default">
        <div class = "panel-heading">
          <h3 class="user-list">Pit Users</h3>
        </div>
        <div class = "panel-body">
      <ul class = "pit-user-list">
        <li>Hustad</li>
        <li>User2</li>
        <li>User3</li>
        <li>User4</li>
        <li>User5</li>
        <li>User6</li>
        <li>User7</li>
        <li>User8</li>
        </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  
  </div>
</div>
