
  <% content_for :title do %>About<% end %>

<div class = "container about">

  <div class = "well" >
    <h3>About The Firepit</h3>
  <p>
  This web application was created with
  <%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
  from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
  </p>
  </div>
  </div>